<!--
  Generated template for the ChartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">

        <ion-title>{{title2}}

        </ion-title>

        <span style="float: right; color: white" end><ion-icon class="abc" name="md-settings" style="margin-left: 12px;margin-right: 16px;margin-top: 4px;font-weight: bold; font-size: 22px;" (click)="seting()"></ion-icon></span>

        <span style="float: right; color: white" end><ion-icon name="md-share" style="margin-left: 17px;margin-right: 17px;margin-top: 4px; font-weight: bold; font-size: 22px;" (click)="shareScreenshot()"></ion-icon></span>

    </ion-navbar>

    <div>
        <ion-item *ngIf="type == 0" no-lines no-margin>
            <!--<ion-icon item-start style="color: #ed3954" name="ios-apps" item-right></ion-icon>-->
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-icon style="color: #ed3954;font-weight: bold; alignment: left;" name="md-refresh" item-end (click)="clicknowmanual()" *ngIf="refreshhide"></ion-icon>
        </ion-item>

        <ion-row style="background-color: white; height: fit-content" *ngIf="type != 0">

            <ion-col>

                <ion-label class="select-option" style="background-color: #ffffff;">

                    <ion-icon style="margin-right: 8px; color: #ed3954" name="ios-apps" item-right></ion-icon>

                    <span (click)="openModal()" style="width: 68%;display: inline-block;">{{title}}</span>

                    <span style="float: right;"> <ion-icon (click)="openModal()" Style="color: #ed3954;margin-right: 16px; font-weight: bold;" name="ios-search" item-end></ion-icon>

               <!-- <ion-icon style="color: #ed3954;margin-right: 16px; font-weight: bold; alignment: left;" name="md-refresh" item-end (click)="clicknow()" *ngIf="refreshhide"></ion-icon>--></span>

                </ion-label>

            </ion-col>

        </ion-row>

        <ion-item *ngIf="type == 2" style="background-color: #ed3954;height: 25px;" no-margin no-padding no-lines>
            <ion-item no-padding style="background-color: transparent">
                <ion-select interface="popover" style="width: 100%; max-width: 100%;color: white">
                    <ion-option [selected]="true">Watchlist</ion-option>
                    <ion-option>NEFTY50</ion-option>
                    <ion-option>NSE50</ion-option>
                    <ion-option>BSEE50</ion-option>
                </ion-select>
            </ion-item>
            <div item-end no-margin no-padding>
                <ion-icon name="add" style="color: white;padding: 5px;margin: 5px" (tap)="openwatchlistclick()"></ion-icon>
                <ion-icon name="create" style="color: white;padding: 5px;;margin: 5px" (tap)="openwatchlistclick2()"></ion-icon>
                <!--<ion-icon name="funnel" style="color: white;padding: 5px;;margin: 5px" (tap)="presentActionSheet()"></ion-icon>-->
                <!--<ion-icon *ngIf="viewmode == true" name="grid" style="color: white;padding: 5px;;margin: 5px" (tap)="changeview()"></ion-icon>-->
                <!--<ion-icon *ngIf="viewmode == false" name="list-box" style="color: white;padding: 5px;;margin: 5px" (tap)="changeview()"></ion-icon>-->
            </div>
        </ion-item>

        <ion-row style="border-bottom:1px solid #ddd;" *ngIf="type == 2">
            <ion-col align="center">
                <ion-badge style="background-color: #ed3954!important;color:white!important;">Intraday</ion-badge>
            </ion-col>

            <ion-col align="center">
                <ion-badge>BTST</ion-badge>
            </ion-col>

            <ion-col align="center">
                <ion-badge>Position</ion-badge>
            </ion-col>
        </ion-row>
        <!--<div style="border-bottom: 1px solid #ddd;margin: 2px 0px;"></div>-->
        <ion-row style="height: fit-content" *ngIf="type == 2">
            <ion-col align="center">
                <ion-badge style="background-color: #ed3954!important;color:white!important;">Bull/Bar Trade</ion-badge>
            </ion-col>

            <ion-col align="center">
                <ion-badge>Power Bull/Bear Trade</ion-badge>
            </ion-col>

            <ion-col align="center">
                <ion-badge style="background-color: #ed3954!important;color:white!important;">Magic Trade</ion-badge>
            </ion-col>
        </ion-row>

        <ion-row style="height: fit-content" *ngIf="type == 1 && selected == 'LIVE'">

            <ion-col align="center" (tap)="selecttime('5')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeLIVE == '5'}">5 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime('15')">
                <ion-badge class="vehicle" [ngClass]="{'active':selectedtimeLIVE == '15'}">15 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime('60')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeLIVE == '60'}">60 min</ion-badge>
            </ion-col>

        </ion-row>


        <ion-row style="height: fit-content" *ngIf="type == 0 && selected == 'LIVE'">
            <ion-col align="center" (tap)="selecttime2('1')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeMESSAGE == '1'}">1 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime2('3')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeMESSAGE == '3'}">3 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime2('5')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeMESSAGE == '5'}">5 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime2('15')">
                <ion-badge class="vehicle" [ngClass]="{'active':selectedtimeMESSAGE == '15'}">15 min</ion-badge>
            </ion-col>

            <ion-col align="center" (tap)="selecttime2('60')">
                <ion-badge class="vehicle" [ngClass]="{'active': selectedtimeMESSAGE == '60'}">60 min</ion-badge>
            </ion-col>

        </ion-row>
    </div>
</ion-header>


<ion-content>
    <ion-fab bottom right edge *ngIf="refreshhide">
        <button (click)="clicksync()" ion-fab mini>
            <ion-spinner icon="bubbles" color="dark" *ngIf="showingspinner"></ion-spinner>
            <!--<ion-icon ios="ios-sync" md="md-sync" *ngIf="showingicon" style="font-size: 30px;"></ion-icon>-->
            <img src="assets/imgs/sync.png" style="height: 30px; width: 30px;" *ngIf="showingicon">
        </button>
    </ion-fab>
    <!--AUTO ADVISORY-->
    <!--    <div *ngIf="type == 2">
            <ion-list>
                <ion-row>
                    <ion-col col-12 *ngFor="let i of [1,2]">
                        <ion-card style="margin: 10px;" (tap)="openlivechart()">
                            <h4 style="color: #040063;font-size: 1.5rem;padding: 5px;
                             text-align: center; font-weight: bold; background: #349bde; color: white;">{{'YESBANK'}}</h4>
                            <ion-row>
                                <ion-col col-6>
                                    <p style="color: #040063;width: fit-content;padding: 3px;"><b>Init. Price :</b></p>
                                    <p style="color: #040063;width: fit-content;padding: 3px;"><b>Target 2 :</b> <span style="float: end;background: #f53d3d;  border-radius: 5px; padding: 5px; color: #fff; margin-left: 30px;">  100</span></p>
                                    <p style="color: #040063;width: fit-content;padding: 3px;"><b>Stop Loss :</b></p>
                                </ion-col>
                                <ion-col col-6 align="center">
                                    &lt;!&ndash;<p style="color: #040063">{{item.INITPRICE}}</p>
                                    <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.TARGET1}}</p>
                                    <p style="color: #040063; background-color: #19b330;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.TARGET1}}</p>
                                    <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.TARGET2}}</p>
                                    <p style="color: #040063; background-color: #19b330;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.TARGET2}}</p>
                                    <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.STOPLOSS}}</p>
                                    <p style="color: #040063; background-color: #f53d3d;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.STOPLOSS}}</p>&ndash;&gt;
                                    <p style="color: #040063;width: fit-content;padding: 3px;"><b>Target 1 :</b> <span style="float: end; background: #19b330; border-radius: 5px; padding: 5px; color: #fff;margin-left: 30px;">  200</span></p>
                                    <p style="color: #040063;width: fit-content;padding: 3px;"><b>Target 3 :</b> <span style="float: end; background: #f53d3d; border-radius: 5px; padding: 5px; color: #fff; margin-left: 30px;">  300</span></p>


                                </ion-col>
                            </ion-row>
                        </ion-card>
                        &lt;!&ndash;<ion-card style="margin: 10px;"(tap)="openlivechart()">&ndash;&gt;
                        &lt;!&ndash;<h4 style="color: #040063;font-size: 1.5rem;padding: 5px;text-align: center; font-weight: bold; background: #349bde; color: white;">{{'YESBANK'}}</h4>&ndash;&gt;
                        &lt;!&ndash;<ion-row>&ndash;&gt;
                        &lt;!&ndash;<ion-col col-6>&ndash;&gt;
                        &lt;!&ndash;<p style="color: #040063;width: fit-content;padding: 3px;">Init. Price</p>&ndash;&gt;
                        &lt;!&ndash;<p style="color: #040063;width: fit-content;padding: 3px;">Target 1</p>&ndash;&gt;
                        &lt;!&ndash;<p style="color: #040063;width: fit-content;padding: 3px;">Target 2</p>&ndash;&gt;
                        &lt;!&ndash;<p style="color: #040063;width: fit-content;padding: 3px;">Stop Loss</p>&ndash;&gt;
                        &lt;!&ndash;</ion-col>&ndash;&gt;

                        &lt;!&ndash;</ion-row>&ndash;&gt;
                        &lt;!&ndash;</ion-card>&ndash;&gt;
                    </ion-col>
                </ion-row>

                &lt;!&ndash;  <ion-card-content align="center">
                      <div *ngIf="type == 2">
                          <ion-list *ngFor="let item of [1]">

                              <ion-card (click)="imageDisplay(item.ADVISORYIMAGE,item.COMPANYNAME)">
                                  <ion-item>
                                      <ion-row>
                                          &lt;!&ndash;<ion-col col-4="">&ndash;&gt;
                                          &lt;!&ndash;<div style="padding: 0px"><img col-md-6 style="width: 80px; height: 70px; padding: 0px" src="{{item.ADVISORYLOGO}}"/>&ndash;&gt;
                                          &lt;!&ndash;</div>&ndash;&gt;
                                          &lt;!&ndash;<p style="margin-top: 8px;font-size: 10px;color: #040063;">{{item.DATE || '02/02/2019'}} {{item.TIME || '10:10'}} </p>&ndash;&gt;
                                          &lt;!&ndash;</ion-col>&ndash;&gt;

                                          <ion-col col-12>

                                              <h4 style="color: #040063;font-size: 1.5rem;">{{item.COMPANYNAME || 'YESBANK'}}

                                                  <span style="float: right;">

                                      &lt;!&ndash;<button ion-button small color="secondary"  class="sell-button">{{item.TYPE}}</button>&ndash;&gt;

                                                      &lt;!&ndash;<button ion-button small color="danger" *ngIf="item.TYPE=='Sell'" class="sell-button">{{item.TYPE}}</button>&ndash;&gt;

                                      </span>
                                              </h4>
                                              <div>
                                                  <ion-row>
                                                      <ion-col col-6>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;">Init. Price</p>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;">Target 1</p>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;">Target 2</p>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;">Stop Loss</p>
                                                      </ion-col>
                                                      <ion-col col-6>
                                                          &lt;!&ndash;<p style="color: #040063">{{item.INITPRICE}}</p>
                                                          <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.TARGET1}}</p>
                                                          <p style="color: #040063; background-color: #19b330;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.TARGET1}}</p>
                                                          <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.TARGET2}}</p>
                                                          <p style="color: #040063; background-color: #19b330;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.TARGET2}}</p>
                                                          <p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">{{item.STOPLOSS}}</p>
                                                          <p style="color: #040063; background-color: #f53d3d;color: #040063;" *ngIf="item.TARGET1HIT == 'HIT'">{{item.STOPLOSS}}</p>&ndash;&gt;
                                                          <p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px;">{{item.TARGET2 || "100"}}</p>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px; background-color: #19b330;color: #040063;">{{item.TARGET2 || "120"}}</p>
                                                          <p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px;">{{item.STOPLOSS || "90"}}</p>
                                                          <p style="color: #040063; width: fit-content;padding: 3px;border-radius: 5px; background-color: #f53d3d;color: #040063;">{{item.STOPLOSS || "80"}}</p>

                                                      </ion-col>
                                                  </ion-row>
                                              </div>
                                              &lt;!&ndash;<p style="color: #040063">Init. Price&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.INITPRICE}} </p>&ndash;&gt;
                                              &lt;!&ndash;<p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">Target 1&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.TARGET1}}</p>&ndash;&gt;
                                              &lt;!&ndash;<p style="background-color: #19b330;color: #040063;width: 170px;" *ngIf="item.TARGET1HIT == 'HIT'">Target 1&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.TARGET1}}</p>&ndash;&gt;
                                              &lt;!&ndash;<p style="color: #040063" *ngIf="item.TARGET1HIT == 'NONE'">Target 2&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.TARGET2}}</p>&ndash;&gt;
                                              &lt;!&ndash;<p style="background-color: #19b330;color: #040063;width: 170px;" *ngIf="item.TARGET2HIT == 'HIT'">Target 2&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.TARGET2}}</p>&ndash;&gt;
                                              &lt;!&ndash;<p style="color: #040063">Stop Loss&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{item.STOPLOSS}}</p>&ndash;&gt;
                                              &lt;!&ndash;<p style="color: #040063">Time {{item.TIME}}</p>&ndash;&gt;
                                          </ion-col>

                                      </ion-row>
                                  </ion-item>
                              </ion-card>

                          </ion-list>
                      </div>
                  </ion-card-content>&ndash;&gt;
            </ion-list>
        </div-->


    <!--MESSAGE BOARD-->
    <div *ngIf="type == 0">
        <ion-list *ngFor="let i of messagenewitem">
            <!--(tap)="openlivechart()"-->
            <ion-card style="margin: 10px;box-shadow:rgba(46, 125, 50, 0.5) 0px 0px 2px 6px, rgba(46, 125, 50, 0.2) 0px 22px 15px 4px, rgba(48, 125, 50, 0.2) 5px 5px 5px 5px" *ngIf="i.BUY_SELL != 'Sell'" (tap)="openlivechart(i)">
                <h4 style="color: #040063;font-size: 1.2rem;padding: 5px;">{{i.SYMBOL}}
                    <span style="float: right;">
                                    <button ion-button small color="danger" class="sell-button" *ngIf="i.BUY_SELL !='Buy'">{{i.BUY_SELL}}</button>

                                    <button ion-button small color="secondary" *ngIf="i.BUY_SELL=='Buy'" class="sell-button">{{i.BUY_SELL}}</button>

                                    </span>
                </h4>
                <!--<h4 style="color: #040063;font-size: 1.5rem;padding: 5px;">{{i.SYMBOL}}</h4>-->
                <ion-row>
                    <ion-col col-6>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Init. Price</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 1</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 2</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 3</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Stop Loss</p>
                    </ion-col>
                    <ion-col col-6>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;border-radius: 5px;">{{i.INIT}}</p>

                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT1_HIT == 'None' || i.TGT1_HIT == ''">{{i.TGT1 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT1_HIT == 'Hit'">{{i.TGT1 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT2_HIT == 'None' || i.TGT2_HIT == ''">{{i.TGT2 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT2_HIT == 'Hit'">{{i.TGT2 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT3_HIT == 'None' || i.TGT3_HIT == ''">{{i.TGT3 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT3_HIT == 'Hit'">{{i.TGT3 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TSL_HIT == 'None' || i.TSL_HIT == ''">{{i.TSL || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #f53d3d;color: #040063;" *ngIf="i.TSL_HIT == 'Hit'">{{i.TSL || ''}}</p>

                    </ion-col>
                </ion-row>
                <div align="end">
                    <p style="color: #8b8b8b;padding: 3px;font-size: 12px;">{{i.INIT_DATETIME}}</p>
                </div>
            </ion-card>

            <ion-card style="margin: 10px;box-shadow:rgba(244,67,54,0.5) 0px 0px 2px 6px, rgba(244,67,54,0.2) 0px 22px 15px 4px, rgba(244,67,54,0.2) 5px 5px 5px 5px" *ngIf="i.BUY_SELL == 'Sell'" (tap)="openlivechart(i)">
                <h4 style="color: #040063;font-size: 1.2rem;padding: 5px;">{{i.SYMBOL}}
                    <span style="float: right;">
                                    <button ion-button small color="danger" class="sell-button" *ngIf="i.BUY_SELL !='Buy'">{{i.BUY_SELL}}</button>

                                    <button ion-button small color="secondary" *ngIf="i.BUY_SELL=='Buy'" class="sell-button">{{i.BUY_SELL}}</button>

                                    </span>
                </h4>
                <!--<h4 style="color: #040063;font-size: 1.5rem;padding: 5px;">{{i.SYMBOL}}</h4>-->
                <ion-row>
                    <ion-col col-6>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Init. Price</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 1</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 2</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Target 3</p>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;">Stop Loss</p>
                    </ion-col>
                    <ion-col col-6>
                        <p style="color: #040063;width: fit-content;padding: 0px;font-size: 12px;border-radius: 5px;">{{i.INIT}}</p>

                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT1_HIT == 'None' || i.TGT1_HIT == ''">{{i.TGT1 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT1_HIT == 'Hit'">{{i.TGT1 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT2_HIT == 'None' || i.TGT2_HIT == ''">{{i.TGT2 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT2_HIT == 'Hit'">{{i.TGT2 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TGT3_HIT == 'None' || i.TGT3_HIT == ''">{{i.TGT3 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #19b330;color: #040063;" *ngIf="i.TGT3_HIT == 'Hit'">{{i.TGT3 || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content;" *ngIf="i.TSL_HIT == 'None' || i.TSL_HIT == ''">{{i.TSL || ''}}</p>
                        <p style="color: #040063;padding: 0px;font-size: 12px;border-radius: 4px;width: fit-content; background-color: #f53d3d;color: #040063;" *ngIf="i.TSL_HIT == 'Hit'">{{i.TSL || ''}}</p>


                        <!--<p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px;">{{i.TGT1}}</p>-->
                        <!--<p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px;">{{i.TGT2}}</p>-->
                        <!--<p style="color: #040063;width: fit-content;padding: 3px;border-radius: 5px;">{{i.TGT3}}</p>-->
                        <!--<p style="color: #040063; width: fit-content;padding: 3px;border-radius: 5px;">{{i.TSL}}</p>-->

                    </ion-col>
                </ion-row>
                <div align="end">
                    <p style="color: #8b8b8b;padding: 3px;font-size: 12px;">{{i.INIT_DATETIME}}</p>
                </div>
            </ion-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>


    <!--LIVE CHART , ALGO CHART-->
    <img src="{{imageUrl}}" style="width: 100%;margin-top: 80px;padding: 5px" #myImage (click)="presentImage(myImage)" *ngIf="type == 1 || type == 3"/>


</ion-content>

<!--<ion-footer>-->
<!--<ion-toolbar color="primary">-->
<!--<ion-row col-12 style="padding: 0px;">-->
<!--<div style="text-align: center; display: inline-block; width: 100%;"><span style="font-weight: bold; font-size: 16px ;color: #ffffff">NEXT</span></div>-->
<!--</ion-row>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->
