page-charts {
  .vehicle.active {
    background-color: #ed3954!important;
    color:white!important;
  }
  ion-badge{
    padding: 5px;
    background-color: transparent!important;
    border: 1px solid #ed3954;
    color: #ed3954!important;
  }
  .scroll-content {
    //background-image: none;
    //background-color: transparent;
  }
  .title-md{
    display: inline-block;
  }

}

page-auto-complete {
  .back-button {
    display: block !important;
  }

  //blink

  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .abc {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
  }


  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
  }

}

.select-option {
  //background-color: #fff;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 42px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 42px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 42px 2px rgba(0,0,0,0.65);
}


//new css add

